@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

body > div > div > a {
  text-decoration: none !important;
  color: unset;
}

body > div > div > a:hover {
  color: unset;
}

body, .modal-content {
  background-color: #f0f0f0;
  font-family: "Lato", sans-serif;
}

.form-label, label, #free, #paid, #exampleCheck1 {
  margin-top: 10px;
  margin-bottom: 2px;
}

body > div.container.job > div > div > div > div > h4 {
  margin: 5px 0px;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  font-size: 20px;
  padding-bottom: 20px;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.tile {
  -webkit-box-shadow: 2px 2px 10px 2px #888888;
  box-shadow: 2px 2px 10px 0px #888888;
}

.price {
  color: #177B33;
  font-size: 32px;
}

.per {
  color: darkgreen;
  font-size: 16px;
}

time {
  float: right;
  display: block;
  padding-top: 20px;
}

.left {
  float: left;
  display: block;
  padding-top: 20px;
}

.right {
  float: right;
  display: block;
  padding-top: 10px;
}

.location {
  padding-bottom: 20px;
}

h2 {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 20px 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: underline;
}

body > div.container > div > a {
  font-size: 28px;
  text-decoration: underline;
}

.imgGallery img {
  margin-left: auto;
  padding: 8px;
  max-width: 100px;
}

.baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#bottom_modal > div > div > div.modal-body > a {
  padding: 10px;
}

#bottom_modal > div > div > div.modal-body > a:hover {
  background-color: #efeff0;
}

#bottom_modal > div > div > div.modal-body > a i {
  padding: 10px;
  margin: 0 10px;
  background-color: #dadada;
  border-radius: 50%;
}

#createAdd {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: unset;
  height: 60px;
}

.newscards {
  background-color: white;
  border-radius: 50px;
  height: 450px;
  position: relative;
  padding: unset;
}

.newscards time {
  padding: 10px;
}

.newscards h3, .newscards h4, .newscards p {
  padding: 10px;
  color: #111111;
}

#owl-news > div.owl-stage-outer > div > div > div > a > div > div > div > img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottomr {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.bottoml {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

body > div > a > div {
  -webkit-box-shadow: 2px 2px 10px 2px #888888;
  box-shadow: 2px 2px 10px 0px #888888;
}

a > i {
  margin: 10px;
}

a > i:hover {
  color: #5c5c5c;
}

nav {
  -webkit-box-shadow: 2px 2px 10px 2px #888888;
  box-shadow: 2px 2px 10px 0px #888888;
}

.free {
  background-color: white;
  padding: 5px 10px;
  width: 95%;
}

.telephone {
  color: darkblue;
  font-weight: 800;
}

#at-expanding-share-button > div > a > div, #at-expanding-share-button > ul > li {
  margin: 10px;
}

.job > div > div > h2 {
  margin-top: 20px;
  font-weight: 900;
}

.job > div > div > p {
  padding-top: 10px;
  font-size: 18px;
  line-height: 150%;
}

.job > div > div > h4 {
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
}

.btn-outline-primary {
  width: 100%;
}

iframe {
  border: black 2px solid;
  min-height: 300px;
}
/*# sourceMappingURL=style.css.map */